.username {
  margin: 0 auto;
  display: block;
  width: 400px;
  padding: 40px;
  text-align: center;
}

.username input {
  font-family: "Jack Armstrong BB";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 300px;
  padding: 3px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: 2px solid #be8563;
  text-align: center;
  color: #ebc7b2;
  font-size: 20px;
}
.username button {
  font-family: "Jack Armstrong BB";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 325px;
  border-radius: 30px;
  border: 3px solid #efd3c8;
  background-color: #d3ebfb;
  cursor: pointer;
  font-size: 30px;
  padding-bottom: 13px;
  color: #be8563;
}

.firstForm{
  margin: auto;
  display: block;
  width: 400;
  padding: 40px;
  text-align: center;
}

.firstForm input {
  font-family: "Jack Armstrong BB";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 300px;
  padding: 3px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: 2px solid #be8563;
  text-align: center;
  color: #ebc7b2;
  font-size: 20px;
}

.firstForm label{
  margin-bottom: auto;
}

.welcome{
  margin-top: 10%;
}

.title{
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.error{
  color: red;
}

.errorContainer{
  display: flex;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.tag-container{
  border: 3px solid #be8563;
  padding: .5em;
  border-radius: 5px;
  display: flex;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  flex-wrap: wrap;
  gap: .5em;
  background-color: #d3ebfb;
}

.tag-item{
  background-color:#ebc7b2;
  display: inline-block;
  padding: .5em .75em;
  border-radius: 20px;
}

.tag-item .close{
  height: 20px;
  width: 20px;
  background-color: #be8563;
  color: white;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: .5em;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Courier New', Courier , monospace;
  font-weight: bold;
}